# Configuración de Base de Datos
DATABASE_URL=postgresql://usuario:password@host:5432/database

# Configuración del Dispositivo Hikvision
DEVICE_IP=172.10.1.62
DEVICE_USER=admin
DEVICE_PASS=PC2024*+

# Configuración de Flask
FLASK_ENV=production
FLASK_SECRET_KEY=tu_clave_secreta_super_segura_aqui
PORT=5000

# Configuración adicional
TZ=America/Bogota